.Open, .Closed{
    
    display:inline-flex;
    margin-right: 5px;
    color:white;
    width: 15px;
    font-size: 15px;
    height:52px;
    font-family: monospace;
    word-wrap: anywhere;
}
.Closed{
    background-color: #C8102E;
}

.Open{
	background-color: #003366;
}

.Break{
   margin-top: 30px;
}

